@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");
body {
  background: #2193b0;
  background: -webkit-gradient(linear, left top, right top, from(#2193b0), to(#6dd5ed));
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

body::-webkit-scrollbar {
  display: none;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
  color: #393e41;
}

h1 {
  display: block;
  margin: 0 auto;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / 7;
  span: 3;
  place-content: center;
  text-align: center;
  font-family: "Lora";
}

h3, h2 {
  padding-bottom: 1em;
}

p {
  font-size: 16px;
  line-height: 1.5rem;
}

.container {
  margin: 0 auto;
  width: 70vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
  -ms-grid-columns: (1fr)[12];
      grid-template: repeat(12, 1fr)/repeat(12, 1fr);
  background: -webkit-gradient(linear, left top, right top, from(#2193b0), to(#6dd5ed));
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  -webkit-box-shadow: 3px 3px black;
          box-shadow: 3px 3px black;
}

.second {
  background: -webkit-gradient(linear, left top, right top, from(#11998e), to(#38ef7d));
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.third {
  background: -webkit-gradient(linear, left top, right top, from(#00f260), to(#0575e6));
  background: linear-gradient(to right, #00f260, #0575e6);
}

.fourth {
  background: -webkit-gradient(linear, left top, right top, from(#2193b0), to(#6dd5ed));
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.fifth {
  background: #d3d0cb;
  -ms-grid-rows: (1fr)[12];
  -ms-grid-columns: 1fr;
      grid-template: repeat(12, 1fr)/1fr;
  height: 10vh;
}

.fifth h1 {
  grid-column: 0 / 0;
  grid-row: 0 / 0;
}

.certificate {
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
  grid-column: 7 / 11;
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4 / 10;
}

img {
  height: 100%;
  width: 100%;
}

.text-left {
  -ms-grid-row: 4;
  -ms-grid-row-span: 6;
  grid-row: 4 / 10;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3 / 6;
  span: 3;
  place-content: center;
  padding: 0.5em 1em;
  background: rgba(211, 208, 203, 0.3);
  border: 1px #d3d0cb solid;
  border-radius: 3px;
}

.text-right {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  grid-row: 7 / 11;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-column: 8 / 11;
  span: 3;
  place-content: center;
  padding: 0.5em 1em;
  background: rgba(211, 208, 203, 0.3);
  border: 1px #d3d0cb solid;
  border-radius: 3px;
}

.text-center {
  -ms-grid-row: 3;
  -ms-grid-row-span: 6;
  grid-row: 3 / 9;
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3 / 11;
  span: 6;
  place-content: center;
  padding: 0.5em 1em;
  background: rgba(211, 208, 203, 0.3);
  border: 1px #d3d0cb solid;
  border-radius: 3px;
}

.vanity {
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  grid-column: 1 / -1;
  span: 12;
  place-content: center;
  text-align: center;
  font-size: 38px;
}

.title {
  -ms-grid-row: 3;
  grid-row: 3 / 3;
  grid-column: 1 / -1;
  span: 12;
  place-content: center;
  text-align: center;
}

.subtitle {
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10 / 11;
  grid-column: 1 / -1;
  span: 12;
  place-content: center;
  text-align: center;
  -webkit-animation: instruct ease 2s infinite;
          animation: instruct ease 2s infinite;
}

.email {
  -ms-grid-row: 8;
  -ms-grid-row-span: 1;
  grid-row: 8 / 9;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
  span: 2;
  place-content: center;
  text-align: center;
}

.button-primary {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #e2c044;
  border: 0;
  padding: 10px 15px;
  color: #393e41;
  border-radius: 3px;
  width: 100px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 600;
  cursor: pointer;
}

.button-primary:hover, .button-primary:focus {
  background-color: #d3d0cb;
  color: #393e41;
}

@-webkit-keyframes instruct {
  0% {
    transfrom: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes instruct {
  0% {
    transfrom: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.scrollIcon {
  -ms-grid-row: 11;
  grid-row: 11;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6 / 8;
  span: 2;
  place-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

svg #wheel {
  -webkit-animation: scroll ease 2s infinite;
          animation: scroll ease 2s infinite;
}
/*# sourceMappingURL=page.css.map */