@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
.panel {
  min-width: 100vw;
  min-height: 100vh;
}

body {
  background: #f8f4ff;
}

body::-webkit-scrollbar {
  display: none;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", Arial;
  color: #393e41;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 57.5%;
  padding: 1.3em;
  padding-left: 3em;
}

.navbar .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.navbar .navlinks a {
  color: #393e41;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  padding: 0 1em;
}

.logo {
  font-weight: bold;
  font-size: 1.3em;
  color: #E07A5F;
}

.logo a {
  color: #E07A5F;
}

.mountains {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  padding: 10% 5em;
  width: 80vh;
  height: 80vh;
}

.hero__container h2 {
  font-size: 5em;
  color: #f8f4ff;
  padding-bottom: 0.4em;
  width: 10em;
}

.hero__container h3 {
  font-size: 3em;
  color: #f8f4ff;
  padding-bottom: 0.4em;
}

.hero__container h4 {
  font-size: 1.5em;
  color: #f8f4ff;
}

.button-primary {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #e2c044;
  border: 0;
  padding: 10px 15px;
  color: #393e41;
  border-radius: 3px;
  width: 100px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 600;
  cursor: pointer;
}

.button-primary:hover, .button-primary:focus {
  background-color: #f8f4ff;
  color: #393e41;
}

@-webkit-keyframes instruct {
  0% {
    transfrom: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes instruct {
  0% {
    transfrom: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.scrollIcon {
  display: block;
  padding-left: 5em;
}

.lotusbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 500px;
  -ms-grid-columns: 500px;
      grid-template: 500px / 500px;
  place-content: center;
}

.lotusflower {
  fill: black;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
  }
}

svg #wheel {
  -webkit-animation: scroll ease 2s infinite;
          animation: scroll ease 2s infinite;
  animation-fill: #393e41;
}
/*# sourceMappingURL=page.css.map */