@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap')

$panel-background: #f8f4ff
$btn-primary: #e2c044
$btn-secondary: #a1c255
$text-colour: #393e41
$hero-colour: #2193b0
$title-colour: #E07A5F

$background-start: linear-gradient(to right, #a8ff78, #78ffd6)
$background-second: linear-gradient(to right, #11998e, #38ef7d)
$background-third: linear-gradient(to right, #00f260, #0575e6)
$background-fourth: linear-gradient(to right, #2193b0, #6dd5ed)



@mixin panel
    min-width: 100vw
    min-height: 100vh

.panel
    @include panel
   

body
  background: $panel-background
  &::-webkit-scrollbar
      display: none

*, ::after, ::before 
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: "Lato", Arial
    color: $text-colour

.navbar
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 57.5%
    padding: 1.3em
    padding-left: 3em
    .navlinks
        display: flex
        justify-content: space-between
        list-style: none 
        a
            color: $text-colour
            font-size: 1.1em

    
a
    text-decoration: none
    padding: 0 1em
        

.logo
    font-weight: bold
    font-size: 1.3em
    color: $title-colour
    a
        color: $title-colour

.mountains
    position: absolute
    top: 0
    left: 0
    object-fit: cover
    z-index: -1
    width: 100%
    height: 100%

.hero__container
    display: flex
    flex-direction: column
    align-items: right
    padding: 10% 5em
    width: 80vh
    height: 80vh
    h2
        font-size: 5em
        color: $panel-background
        padding-bottom: 0.4em
        width: 10em
    h3
        font-size: 3em
        color: $panel-background
        padding-bottom: 0.4em

    h4
        font-size: 1.5em
        color: $panel-background
    

.button-primary
    appearance: none
    background-color: $btn-primary
    border: 0
    padding: 10px 15px
    color: $text-colour
    border-radius: 3px
    width: 100px
    cursor: pointer
    font-size: 18px
    transition-duration: 0.25s
    font-weight: 600
    cursor: pointer
    
    &:hover, &:focus
      background-color: $panel-background
      color: $text-colour

@keyframes instruct
    0%
        transfrom: scale(1)
    30%
        transform: scale(1.1)

.scrollIcon
    display: block
    padding-left: 5em


.lotusbox
    display: grid
    grid-template: 500px / 500px
    place-content: center


.lotusflower
    fill: black

@keyframes scroll 
	0% 
		transform: translateY(0)
	
	30% 
		transform: translateY(60px)
	
svg #wheel 
	animation: scroll ease 2s infinite
    fill: $text-colour
