---
import Main from '../components/layouts/Main.astro'
import AboutMeCard from '../components/AboutMeCard.astro';
---

<Main>
    <dir class="d-flex">
        <div class="columns grid-lg pt-2">
            <AboutMeCard />
        </div>
        <div class="columns grid-lg pt-2">
            <AboutMeCard />
        </div>
    </dir>
</Main>

