<div class="column col-sm-12 col-md-12 col-lg-12 col-xl-12 col-12">
    <div class="">
        <div class="card-header">
            <div class="card-title text-center"><h1 class="text-bold">Who am I?</h1></div>
        </div>
        <div class="card-image center">
            <img class="s-circle img-responsive" src="./static/profile.jpeg">
        </div>
        <div class="card-body pt-2">
            <p class="text-center">
                Hi I’m Ed. I’m all about easy, friction-less journeys for users in all aspects of software.
                I always love a challenge and my modus operandi is to always find the simplest way to achieve
                    what a user needs. I love learning new things, but also mastering what I already know.
                    I believe creating software to be an art and it’s an art I’m truly passionate about.
            </p>
        </div>
    </div>
</div>
