<div class="row justify-content-center">
    <div class="col-lg-6 px-4">
        <p class="lh-base fs-3 text-center">
            Hi I’m Ed. I’m all about easy, friction-less journeys for users in all aspects of software. I always love a challenge and my
            modus operandi is to always find the simplest way to achieve what a user needs. I'm highly passionate about learning, but also
            mastery. Debugging is one of my favourite things to do.
        </p>
    </div>
</div>
