<footer class="pb-4 bg-dark text-light">
    <div class="container p-4">
        <p>Icons by <a href="https://fontawesome.com/license/free" target="_blank">Font Awesome</a></p>
        <ul class="list-unstyled list-group list-group-horizontal">
            <li class="mx-2"><a href="https://github.com/Captainmango" target="_blank"><i class="fab fa-github"></i></a></li>
            <li class="mx-2"><a href="https://www.linkedin.com/in/edward-heaver-9ba556a0/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="mx-2"><a href="https://twitter.com/EdwardHeaver6"><i class="fab fa-twitter"></i></a></li>
        </ul>

        <p class="pt-2"><b>Ed Heaver {new Date().getFullYear()}</b></p>
    </div>
</footer>
