---
import TagLine from './Tagline.astro'
import NavButton from './NavButton.astro';
---

<div class="hero">
    <h1 class="text-center text-bold text-hero">
        Hello World, I'm Ed
    </h1>
    <TagLine />

    <div class="center">
        <NavButton />
    </div>
</div>
