<div class="py-2 py-lg-0 d-flex">
    <ul class="navbar-nav list-group-horizontal">
        <li class="nav-item px-2"><a class="nav-link" href="https://github.com/Captainmango" target="_blank"><i class="fab fa-github"></i></a></li>
        <li class="nav-item px-2"><a class="nav-link" href="https://www.linkedin.com/in/edward-heaver-9ba556a0/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="nav-item px-2"><a class="nav-link" href="https://twitter.com/EdwardHeaver6"><i class="fab fa-twitter"></i></a></li>
    </ul>
</div>
