<div class="column col-sm-12 col-md-12 col-lg-12 col-xl-12 col-12">
    <div class="card s-rounded o-33">
        <div class="card-body">
            <div class="timeline">
                <div class="timeline-item">
                  <div class="timeline-left">
                    <a class="timeline-icon"></a>
                  </div>
                  <div class="timeline-content">
                    <h4>lorem</h4>
                    <ul>
                        <li>
                            fff
                        </li>
                    </ul>
                  </div>
                </div>

                <div class="timeline-item">
                  <div class="timeline-left">
                    <a class="timeline-icon">
                        <i class="fa-solid fa-check"></i>
                    </a>
                  </div>
                  <div class="timeline-content">
                    <p>lorem</p>
                    <p>lorem</p>
                    <p>lorem</p>
                    <p>lorem</p>
                  </div>
                </div>
                <div class="timeline-item" id="timeline-example-2">
                    <div class="timeline-left">
                      <a class="timeline-icon icon-lg" href="#timeline-example-2">
                        <i class="icon icon-check"></i>
                      </a>
                    </div>
                    <div class="timeline-content">
                      <p>lorem</p>
                      <p>lorem</p>
                      <p>lorem</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
