@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
$panel-background: #f8f4ff;
$btn-primary: #e2c044;
$btn-secondary: #a1c255;
$text-colour: #393e41;
$hero-colour: #2193b0;
$title-colour: #E07A5F;

$font-family: "Lato", Arial;

